.pagination {
    @apply flex flex-col cursor-pointer;
}
.pagination-dark {
    @apply flex flex-col cursor-pointer text-white;
}
.pagination-header {
    @apply flex flex-row items-center;
}
.pagination-icon {
    @apply h-6 w-6;
}
.pagination-dropdown {
    @apply absolute left-0 top-11 bg-[#f8f8f8] rounded-md shadow-[0_8px_30px_rgb(0,0,0,0.12)];
    max-height: 80vh;
    overflow-y: auto;
    min-width: 130px;
}
.pagination-dropdown-dark {
    @apply absolute left-0 top-11 rounded-md shadow-[0_8px_30px_rgb(0,0,0,0.12)] text-white bg-[#353D43];
    max-height: 80vh;
    overflow-y: auto;
    min-width: 130px;
}
.pagination-element {
    @apply flex flex-row items-center justify-between px-2 h-10;
}
.pagination-create {
    @apply flex flex-row items-center justify-between p-1 border-solid border-gray-300 border-0 border-t-[1px] h-10;
}
.pagination-create-dark {
    @apply flex flex-row items-center justify-between p-1 border-solid border-gray-600 border-0 border-t-[1px] h-10;
}
.page-label {
    @apply flex-grow;
}