@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    box-sizing: border-box;
  }

body {
  @apply p-0 m-0 max-w-full font-open-sans w-full min-h-full bg-white;
  background-size: 3rem 3rem;
  background-image:
  linear-gradient(to right, theme('colors.bg.400') 0.063rem, transparent 0.063rem),
  linear-gradient(to bottom, theme('colors.bg.400') 0.063rem, transparent 0.063rem);
}

.row {
  box-sizing: border-box;
  @apply flex flex-row items-center justify-start w-full;
}

.col {
  box-sizing: border-box;
  @apply flex flex-col items-start justify-start w-full flex-grow;
}

.container {
  @apply w-full flex flex-col;
  height: 100vh;
  box-sizing: border-box;
  background: radial-gradient(circle, theme('colors.fade.100') 0%, theme('colors.fade.200') 100%);
}

button {
  @apply cursor-pointer;
}

.loading-page {
  @apply fixed top-0 left-0 flex items-center justify-center w-full z-50;
  height: 100vh;
  width: 100vw;
  z-index: 9999999;
}

.save-loader {
  @apply bg-white flex-col;
}

.loading-page img {
  @apply h-12;
}

.loading-page p {
  @apply font-open-sans text-zinc-800 text-2xl font-semibold ml-1;
}
