.cursor-container {
    @apply flex w-fit items-center justify-center;
}
.cursor-indicator {
    @apply h-3 w-3 rounded-full mr-1 shadow-lg;
}
.cursor-label {
    @apply text-gray-500 bg-white whitespace-nowrap text-ellipsis overflow-hidden shadow-sm flex items-center justify-center;
}
.cursor-label-dark {
    @apply text-gray-200 bg-[#353D43] whitespace-nowrap text-ellipsis overflow-hidden shadow-sm flex items-center justify-center;
}