.settings-container {
    @apply flex flex-row items-center justify-center bg-[#f8f8f8] rounded-b-md text-xs overflow-hidden border-solid border-[1px] border-gray-200 p-1.5 shadow-[0_8px_20px_rgb(0,0,0,0.08)] box-border;
}

.settings-container-dark {
    @apply flex flex-row items-center justify-center bg-[#353D43] rounded-br-md text-xs overflow-hidden border-solid border-[1px] border-gray-600 p-1 shadow-[0_8px_30px_rgb(0,0,0,0.16)] box-border;
} 
.settings-icon {
    @apply  text-black cursor-pointer !h-7 !w-7 ;
}
.settings-icon-dark {
    @apply  text-white cursor-pointer !h-7 !w-7 ;
}
.loading {
    @apply text-gray-400;
}

.success {
    @apply text-green-500;
}

.active {
    @apply text-blue-500;
}

#TD-MultiplayerMenuIcon {
    @apply hidden;
}
.align-row {
    @apply flex flex-row items-center;
}